.trends-box {
	position: absolute;
	top: 53px;
	right: 0px;
	width: var(--boxWidth);
	background-color:var(--boxBackgroundColor);
	border-radius: 0px;
	color: #fff;
}
.trends-box__loader {
    position: absolute;
    top:11px;
    right:20px;
    width:20px;
}

.trends-box__title {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: .5em 1em;
	z-index: 2;
	display: flex;
	align-items: center;
}

.trends-box__title img {
	display: block;
	margin-right: .5em;
}

.trends-box__trends {
	max-height: 300px;
	min-height: 300px;
	overflow-x: auto;
}

.trends-box__trends li a {
	color: #fff;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	font-size: 15px;
	padding: .75em 1em;
	text-decoration: none;
}

.trends-box__trends li a:hover {
	background-color: rgba(21, 32, 43, .2);
	transition: all .2s ease;
}

.trends-box__trends li a p {
	font-weight: 500;
	margin-bottom: .4em;
}

.trends-box__trends li a small {
	opacity: .6;
	font-size: smaller;
}

.country-select {
	max-width: calc(100% - 30px);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	color:#555;
}