html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
}

:root {
  --boxBackgroundColor: rgba(21, 32, 43, 0.7);
  --boxWidth: 350px;
  --footerBorderBottomLeftRadius: 10px;
}
@media screen and (max-width: 768px) {
  :root {
    --boxWidth: 100%;
    --footerBorderBottomLeftRadius: 0px;
  }
}
