@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size:15px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
:root {
  --mainBackgroundColor: rgba(21, 32, 43, .7);
}

header {
  position: absolute;
  top:0;
  right:0;
  background-color:var(--mainBackgroundColor);
  width:350px;
  z-index: 4444;
  padding: 15px 0;
  color:#fff;
  text-align: center;
}
header h1 {
  font-size:26px;
  font-weight: bold;
}
footer {
  position: absolute;
  top:416px;
  right:0;
  background-color: var(--mainBackgroundColor);
  width:350px;
  z-index: 4444;
  padding: 15px 0;
  color:#fff;
  text-align:center;
  padding-top:2em;
  border-bottom-left-radius: 10px;
}
footer * {
  color:#fff;
}
.footer__author {
  font-size:13px;
  text-align: center;
  margin-top:2em;
  opacity: .7;
}

#map {
  width:100vw;
  height:100vh;
  position: relative;
}
.map-marker {
  width:44px;
  height:44px;
  transform: translate(-50%, -100%);
  position: relative;
  top: 22px;
}